.SearchDiv{
    display: flex;
    justify-content: center;
}
.UsernameInput{
    padding-left: 5px;
    border-radius: 0.85rem 0 0 0.85rem;
    border-color: black;
    margin: 0;
    width: 40rem;
    height: 2.5rem;
    font-size: x-large;
    resize:none;
}
.SearchButton{
    border-radius: 0 0.85rem 0.85rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: none;
    width: 3rem;
    font-size: x-large;
    height: 2.5rem;
    background-color: #f3f4f6;
    cursor: pointer
}
.SearchButton:hover{
    background-color: #e5e7eb;
}